.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  padding: 10px 20px;
  background-color: #3b82f6; 
  color: white;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center; /* Centra verticalmente el logo y título */
}

.navbar-logo {
  height: 40px; /* Ajusta el tamaño del logo */
  margin-right: 10px;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-center {
  display: flex;
  justify-content: center; /* Asegura que el menú esté centrado */
  flex-grow: 1; /* Permite que ocupe espacio adicional */
}

.navbar-button {
  margin: 0 10px;
  padding: 10px 15px;
  background-color: white;
  color: #3b82f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #2563eb;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center; /* Centra el ícono del carrito */
}
